body{
    font-family:Arial,sans-serif, Helvetica,;
    
padding: 20px;

height: 100vh;
margin: 0;
background: linear-gradient(270deg,#ff8a00,#e52e71,#9b00e8,#00c3ff);
background-size: 800% 800%;
animation: animateGradient 15s ease infinite;



}


@keyframes  animateGradient{
    

0%{

background-position:0% 50%;




}

50%
{

background-position: 100% 50%;

}
100%
{

background-position: 0%
50%;


}

}



.header{
    background-color: #287265;
    height: 80px;
    margin: 10px;
  text-decoration: none;
}
nav ul li{
    list-style-type: none;
display: inline-block;
padding: 10px;
text-decoration: none;
}
ul li a{
    color: #fff;
    letter-spacing: 0.1rem;
text-decoration: none;
}
ul li a:hover{
    color: #ffd358;
    text-decoration: underline;


}
.menu li{
    float: left;
    padding: 35px;
    text-decoration: none;
}
.menu li a{
    text-decoration: none;

}
.btn-submit{


    border: unset;
background: #268ef0;
padding: 0.5em;
color: #e9e9e9;
cursor: pointer;
}

    

    
    #logo
    {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        position:absolute;
        position: relative;
        left: 25px;
        top: 85px;
        
        
    }
    #logo img
    {
        width: 40px;
        height: 60px;
        background: #00c3ff;
        flood-opacity: initial;

        justify-content: space-between;

    }
    li{
        color: orange;
    list-style: none;
text-align: center;
position: absolute;
position: relative;
    bottom: -25px;
    }
    h1{
color:violet;
text-align: center;

      
    

    }
    h2{
        color: white;
        background-color: red;
        
        border-radius: 5px 10px 15px 20px;
        
background-position: absolute;
background-position:relative;
width: 60px;
height:50PX;
top: 50px;
left: 50PX;
border-radius:4PX;
text-align: center;

    }
    
    
    p1{
        color:red;
        text-decoration: #287265;
        text-align: center;
        


    }
    #carte
    {
      text-align: center; 
      align-content: center;
      margin: 0 auto;
      width: 100%;
      
    
      
      
      
      
    
              
    }
    button1{
        position: relative;
        position:absolute;
        right: 180px;
        bottom: 490px;
        border-radius: 10px;


    }
    button1{
        padding:6px 24px ;
        border:2px solid #fff ;
        background:transparent ;
        border-radius:6PX;
        cursor:pointer ;

    }
    h3{
     position:CENTER ; 
     position: absolute;
     position:relative;
     right:-500px ;
    }
    


    
    section[class="homeba"]{
    
        padding: 3rem 2rem;



    }

    books-slider {
    
display: flex;


    }


     #carte img{

    display: flex;    
    flex: 1 1 42rem;
    margin-top: 2em;

    height: 25em;
    
    flex: -2rem;

    animation: both;
    

    
   

    
justify-content: space-around 2 PX;


}









    
   @keyframes slideIn{

from{transform:
    translateY(50px);opacity: 0;}
to{transform:translateY(0);opacity:1;

}



}

#livre1{
    animation:slideIn 1s ease-out;

}

    


  




.btn:hover{

    background: var(---dark-color);
}


    
    


.autocomplete-list{

width: 100%;

padding: unset;
margin: unset;

position: absolute;




}



.autocomplete-list button{


border: unset;
background: unset;
background:unset ;
display: block;
width: 100%;
text-align: left;
padding: 0.5em;
}




p{
margin: 10px;
  
}



.carousol-container{





   } 

    
   .fa-download1{
    position: absolute;
    bottom:-26px;
    left:17%;
    transform: translateX(-800%);

    }



    #livre2{


        position:relative;
        text-align:center;
        margin-bottom: 30px;
        
        
        
           } 
        
            
           .fa-download2{
            
            
        
            
        
            z-index: 1;
            justify-content: space-between;
        
            }
p1{

color: aqua;
position: absolute;
position: relative;
left: -225px;
bottom: 80px ;

}



p2{

    color: aqua;
    position: absolute;
    position: relative;
    left: -250px;
    bottom: 80px;
    
    }

    .fa-solid fa-download3{
position: absolute;
position: relative;

left: 30px;




}




p3{
    color: aqua;
position: absolute;
position: relative;
left: -250px; ;

bottom: 70px;
}





#fa-solid fa-download4{

position: absolute;
position: relative;

bottom: 20px;




}



p4{
    color: aqua;

position: absolute;

position: relative;


left: -290px;

bottom: 60px;
}





input{

    border: unset;
    background: #e9e9e9; ;
    
   padding: 0.5em; 
   color: aqua;
   padding: 2em;

}











.search-btn{
padding: 10px;
cursor:pointer ;
position: relative;
position: absolute;
right: 30px;
bottom: 428px;
position: fixed;

}



.search-btn:hover{
color: aqua;

position: fixed;
}





#search{

border: 2px solid
#4CAF50;
border-radius: 5px;
padding: 10px;
outline: none;


text-align: center;
}




#search:focus{
border-color: #2196F3;





}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}













book-section{

text-align: center;
margin-bottom: 30px;
}












book{

@media (max-width:600px) {
    .book{

        width:100%;
    }
}


}


.searchInput .icon{
    position: absolute;
    position: relative;
    margin-right: 40px;
    
    margin-top: 182px;
    
    
    color: #644bff;
    cursor: pointer;
    left: 100px;
    bottom: 200px;
  }







.searchInput.active .resultBox li{
  display: block;
}
.resultBox li:hover{
  background: #efefef;

}




.searchInput .icon{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    width: 30px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #644bff;
    cursor: pointer;
    bottom: 150px;
  }



  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


*{

    box-sizing: border-box;
}







button{

cursor: pointer;


}






.autocomplete-list li{


border: 1px solid #e9e9e9;


border-top: unset;


}






.autocomplete-wrapper{

position: relative;

display: inline-block;



}





.autocomplete-list li:hover{
    

background: #e9e9e9;






}





.autocomplete-list{


    display: none;
list-style-type: non;
padding: 0;




}



#resultBox {



    display: inline-block;


}


































 li{


  text-decoration: none;

}



h4{
position: relative;
bottom:20px ;
margin-left: 5px;
background:blueviolet ;

color: #e0e0e0;

}












footer{
background-color:#222 ;
color:#fff;
padding:30px 20px ;
text-align: center;
font-family:Arial, sans-serif ;
margin-top: 40px;

margin-bottom: 40px;
}





.footer-content{




display:flex ;
flex-direction: column;
align-items: center;



gap:15px ;




}








.footer a{

color:#fff ;
margin:0 10px ;
text-decoration:none ;



}


.footer a:hover{


text-decoration:underline ;



}







.footer i{

margin: right 8px;




}


.social-icons a{

  font-size: 22px;

margin:0 10px ;

}


.social-icons a:hover{
color: #00ffcc ;


}
                             




.footer-links{


margin-top:10px ;

}







.contact-info p{

margin: 5px 0 ;
font-size:14px ;

}



.footer .copyright{


margin-top:20px ;

font-size:13px ;
color:#aaa;

}














































@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::selection{
  color: #fff;
  background: #664AFF;
}

.container{
  max-width: 450px;
  margin: 150px auto;
}

.container .searchInput{
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.searchInput input{
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px; ;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
padding-left: 10px;
text-align: center;
}

.searchInput.active input{
  border-radius: 5px 5px 0 0;
}

.searchInput .resultBox{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.searchInput.active .resultBox{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.resultBox li{
  list-style: none;
  padding: 5px;
  padding-bottom: 6px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 2px;
  background: #efefef;
  text-align: center;
margin-bottom: 1px;

  border-bottom: 3px solid #e0e0e0;

  box-shadow: 0 2px 4px rgba( 0, 0,0, 0.5);


}

.searchInput.active .resultBox li{
  display: block;
}
.resultBox li:hover{
  background: #efefef;
  padding: 10px;
  background-color: #e9e9e9;
}

.searchInput .icon{
  
  position: absolute;
  left: 16px;
  bottom: 50px ;
  top:-5px;


}




.carousol-container{

white-space: nowrap;
overflow-x: auto;
padding: 20px;


}
    






.carousol-item{

overflow-x: auto;
  display:flex;
  flex-wrap: nowrap;
  padding: 10px;
  margin-right: 15px;
  padding-left: 10px;
  border-radius: 8px;
vertical-align: top;
gap: 20px;
box-sizing: border-box;
box-shadow: 0 0 5px rgba(0, 0, 0,0.1);



}



.carousol-item img{
  width: 100%;
height: auto;
border-radius: 4px;

}




.download{

  margin-top: 200px;

text-align: center;

display: flex;

flex-direction: column;
}



.download-icon{

font-size: 22px;
color: #007bff;

transition: color 0.3s;


}




.download-icon:hover{


color: #2196F3;




}





.fa-download3{

position: absolute;
bottom: -55px;
  




}







.fa-download4{



position: absolute;
bottom: -65px;
left: 82%;
transform: translateX(-82%);

}





.CONTACT h10{
text-align: center;

text-transform: uppercase;

color: #00ffcc;
font-size: 28px;
letter-spacing: 1px;


}